//=========================== clock ===============================

IO_LOC "sys_clk" P16;
IO_PORT "sys_clk" PULL_MODE=NONE DRIVE=OFF BANK_VCCIO=3.3;

//=========================== KEYs ===============================

IO_LOC "rst_n" K16;
IO_PORT "rst_n" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3; 

//=========================== LEDs ===============================
IO_LOC "led_o[0]" J14;
IO_PORT "led_o[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "led_o[1]" R26;
IO_PORT "led_o[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "led_o[2]" L20;
IO_PORT "led_o[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "led_o[3]" M25;
IO_PORT "led_o[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "led_o[4]" N21;
IO_PORT "led_o[4]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "led_o[5]" N23;
IO_PORT "led_o[5]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;

//=========================== SPI SD CARD ==============================
// CS - 片选信号（对应SD卡DAT3/CD引脚）
IO_LOC "CS" B25;
IO_PORT "CS" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;

// MOSI - 主机输出（对应SD卡CMD引脚）
IO_LOC "MOSI" D24;  
IO_PORT "MOSI" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;

// MISO - 主机输入（对应SD卡DAT0引脚）
IO_LOC "MISO" H23;
IO_PORT "MISO" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;

// spi_clk - SPI时钟（对应SD卡CLK引脚）
IO_LOC "spi_clk" D23;
IO_PORT "spi_clk" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;

//============================== LDC ====================================
/*
IO_LOC "lcd_g[5]" J16;
IO_LOC "lcd_g[4]" K15;
IO_LOC "lcd_g[3]" F22;
IO_LOC "lcd_g[2]" G22;
IO_LOC "lcd_g[1]" G21;
IO_LOC "lcd_g[0]" G20;

IO_LOC "lcd_b[5]" F20;
IO_LOC "lcd_b[4]" G19;
IO_LOC "lcd_b[3]" F19;
IO_LOC "lcd_b[2]" F18;
IO_LOC "lcd_b[1]" M17;
IO_LOC "lcd_b[0]" M16;

IO_LOC "lcd_r[5]" H19;
IO_LOC "lcd_r[4]" J19;
IO_LOC "lcd_r[3]" G25;
IO_LOC "lcd_r[2]" H18;
IO_LOC "lcd_r[1]" J18;
IO_LOC "lcd_r[0]" K17;

IO_LOC "lcd_en" A24;
IO_LOC "lcd_clk" H21;
IO_LOC "clk" P16;
IO_LOC "rst_n" G16;

IO_PORT "lcd_g[5]" PULL_MODE=NONE DRIVE=24 BANK_VCCIO=3.3;
IO_PORT "lcd_g[4]" PULL_MODE=NONE DRIVE=24 BANK_VCCIO=3.3;
IO_PORT "lcd_g[3]" PULL_MODE=NONE DRIVE=24 BANK_VCCIO=3.3;
IO_PORT "lcd_g[2]" PULL_MODE=NONE DRIVE=24 BANK_VCCIO=3.3;
IO_PORT "lcd_g[1]" PULL_MODE=NONE DRIVE=24 BANK_VCCIO=3.3;
IO_PORT "lcd_g[0]" PULL_MODE=NONE DRIVE=24 BANK_VCCIO=3.3;
IO_PORT "lcd_b[5]" PULL_MODE=NONE DRIVE=24 BANK_VCCIO=3.3;
IO_PORT "lcd_b[4]" PULL_MODE=NONE DRIVE=24 BANK_VCCIO=3.3;
IO_PORT "lcd_b[3]" PULL_MODE=NONE DRIVE=24 BANK_VCCIO=3.3;
IO_PORT "lcd_b[2]" PULL_MODE=NONE DRIVE=24 BANK_VCCIO=3.3;
IO_PORT "lcd_b[1]" PULL_MODE=NONE DRIVE=24 BANK_VCCIO=3.3;
IO_PORT "lcd_b[0]" PULL_MODE=NONE DRIVE=24 BANK_VCCIO=3.3;
IO_PORT "lcd_r[5]" PULL_MODE=NONE DRIVE=24 BANK_VCCIO=3.3;
IO_PORT "lcd_r[4]" PULL_MODE=NONE DRIVE=24 BANK_VCCIO=3.3;
IO_PORT "lcd_r[3]" PULL_MODE=NONE DRIVE=24 BANK_VCCIO=3.3;
IO_PORT "lcd_r[2]" PULL_MODE=NONE DRIVE=24 BANK_VCCIO=3.3;
IO_PORT "lcd_r[1]" PULL_MODE=NONE DRIVE=24 BANK_VCCIO=3.3;
IO_PORT "lcd_r[0]" PULL_MODE=NONE DRIVE=24 BANK_VCCIO=3.3;
IO_PORT "lcd_en" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "lcd_clk" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "clk" PULL_MODE=NONE DRIVE=OFF BANK_VCCIO=3.3;
IO_PORT "rst_n" PULL_MODE=NONE DRIVE=OFF BANK_VCCIO=3.3;
*/